.number-input {
    background-color: transparent;
    color: #ffffffe5;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    outline: none;
    border: none;
}

.number-input::placeholder {
    color: #ffffffe5;
}

.notification-position {
    display: flex;
}

.notification-position__item label {
    color: #ffffffe5;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    margin-right: 8px;
    min-width: 84px;
}

.notification-position__item {
    margin-right: 32px;
    display: flex;
    align-items: center;
}

.notification-position__item:last-child {
    margin-right: 0;
}

.notification-position__item input {
    width: 16px;
    height: 16px;
    background-color: transparent;
}

.notification-disappear-time input {
    width: 25px;
    font-size: 13px;
}

.notification-disappear-time {
    display: flex;
    color: #ffffffe5;
    line-height: 16px;
    font-weight: 400;
    font-size: 13px;
    align-items: flex-end;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}