.message {
    padding: 16px;
    background-color: #2c313e66;
    border-radius: 16px;
    display: flex;
    width: 360px;
    gap: 8px;
}

.message__content {
    color: #ffffffe5;
    font-size: 13px;
    line-height: 16px;
}

.message__btn {
    width: 24px;
    height: 24px;
}